@import "tailwindcss";

@theme inline {
  --breakpoint-xs: 27rem;

  --color-white: #fafafa;
  --color-black: #040404;
  --color-accent: #fa3644;

  --font-actay: var(--font-actay), sans-serif;
  --font-montserrat: var(--font-montserrat);
}

@layer base {
  :root:has(.no-doc-scroll) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotation {
    animation: rotation 1600ms linear infinite;
  }
}
